<div ng-controller="ActivityCtrl">
  <div class="row home-row text-center">
    <div class="col-md-4">
      <div class="pie-container" ng-click="drawChart('time')" ng-class="selectedPieIndex === 0 ? 'selected' : ''">
        <div easypiechart options="pieOptions" percent="pie.time / pie.timeBase * 100" class="pie">
          <div class="pie-content">
            <div>
              <span class="percent" ng-bind="pie.time"></span>
              <span class="percent after">{{'min' | translate}}</span>
            </div>
            <div>
              <span class="base before">{{ baseName('time') }}</span>
              <span class="base" ng-bind="pie.timeBase"></span>
              <span class="base after">{{'min' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pie-container" ng-click="drawChart('distance')" ng-class="selectedPieIndex === 1 ? 'selected' : ''">
        <div easypiechart options="pieOptions" percent="pie.distance / pie.distanceBase * 100" class="pie">
          <div class="pie-content">
            <div>
              <span class="percent" ng-bind="pie.distance"></span>
              <span class="percent after">{{'km' | translate}}</span>
            </div>
            <div>
              <span class="base before">{{ baseName('distance') }}</span>
              <span class="base" ng-bind="pie.distanceBase"></span>
              <span class="base after">{{'km' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pie-container" ng-click="drawChart('calory')" ng-class="selectedPieIndex === 2 ? 'selected' : ''">
        <div easypiechart options="pieOptions" percent="pie.calory / pie.caloryBase * 100" class="pie">
          <div class="pie-content">
            <div>
              <span class="percent" ng-bind="pie.calory"></span>
              <span class="percent after">{{'calories' | translate}}</span>
            </div>
            <div>
              <span class="base before">{{ baseName('calory') }}</span>
              <span class="base" ng-bind="pie.caloryBase"></span>
              <span class="base after">{{'calories' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row home-row">
    <div class="col-md-4">
      <form class="home-charts-right" ng-controller="AddActivityCtrl" ng-submit="addActivity()">
        <h2>{{ 'add_activity' | translate }}</h2>
        <div class="custom-selector">
          <custom-select
            ng-model="selectedActivity.activity"
            ng-options="activity as activity.name for activity in activities"
            placeholder="{{ 'select_activity' | translate }}">
          </custom-select>
        </div>
        <div class="datetime-picker row">
          <div class="col-xs-6 date-picker">
            <input type="text"
                   class="form-control"
                   datepicker-popup="yyyy-MM-dd"
                   ng-model="date"
                   is-open="opened"
                   datepicker-options="dateOptions"
                   ng-required="true"
                   max-date="maxDate"
                   close-text="{{'close' | translate}}"
                   current-text="{{'current' | translate}}"
                   clear-text="{{'clear' | translate}}"
                   ng-click="open($event)" />
          </div>
          <div class="col-xs-6 time-picker">
            <timepicker ng-model="time"
                        ng-change="timeChanged()"
                        show-meridian="false"
                        minute-step="5"></timepicker>
          </div>
        </div>
        <div class="activity-data text-center row">
          <div class="col-sm-6">
            <input type="number" class="col-md-4" ng-model="activity.time">{{ 'min' | translate }}
          </div>
          <div class="col-sm-6">
            <input type="number" class="col-md-4" ng-model="activity.distance">{{ 'km' | translate }}
          </div>
          <div class="col-sm-6">
            <input type="number" class="col-md-4" ng-model="activity.calory">{{ 'calories' | translate }}
          </div>
        </div>
        <button class="btn btn-block btn-default" type="submit">{{'add' | translate}}</button>
        <growl-notifications>
          <growl-notification ng-if="showGrowlSuccess" class="growl-info fading" ttl="2000">
            <a href="javascript:;" ng-click="$growlNotification.remove()" class="close"><i class="fa fa-times"></i></a>
            {{ 'Saved' | translate }}
          </growl-notification>
          <growl-notification ng-if="showGrowlError" class="growl-error fading" ttl="2000">
            <a href="javascript:;" ng-click="$growlNotification.remove()" class="close"><i class="fa fa-times"></i></a>
            {{ 'An error occured' | translate }}
          </growl-notification>
        </growl-notifications>
      </form>
    </div>
    <div class="col-md-8">
      <div class="home-charts-middle">
        <div class="text-center">
          <div class="btn-group">
            <label class="btn btn-default" ng-model="activityRange" ng-click="drawChart(null, 'day')" btn-radio="'day'">{{'day' | translate}}</label>
            <label class="btn btn-default" ng-model="activityRange" ng-click="drawChart(null, 'week')" btn-radio="'week'">{{'week' | translate}}</label>
            <label class="btn btn-default" ng-model="activityRange" ng-click="drawChart(null, 'month')" btn-radio="'month'">{{'month' | translate}}</label>
          </div>
        </div>
        <angular-chart options="activityChartOptions"></angular-chart>
      </div>
    </div>
  </div>
</div>