<div class="row home-row" ng-controller="BodyMeasurementCtrl">
  <div class="col-md-4">
    <div class="home-charts-right">
      <h2>{{ 'add_body' | translate }}</h2>
      <div class="custom-selector">
        <custom-select
          ng-model="selectedBody.body"
          ng-options="body as b.name for b in bodies"
          placeholder="{{ 'select_body' | translate }}">
        </custom-select>
      </div>
      <div class="datetime-picker">
        <div class="date-picker">
          <input type="text"
                 class="form-control"
                 datepicker-popup="yyyy-MM-dd"
                 ng-model="dt"
                 is-open="opened"
                 datepicker-options="dateOptions"
                 ng-required="true"
                 close-text="{{'close' | translate}}"
                 current-text="{{'current' | translate}}"
                 clear-text="{{'clear' | translate}}"
                 ng-click="open($event)" />
        </div>
      </div>
      <div class="body-data text-center row">
        <input type="number" placeholder="{{ selectedBody.body.unit }}">
      </div>
      <button class="btn btn-block btn-default">{{'add' | translate}}</button>
    </div>
  </div>
  <div class="col-md-8">
    <div class="home-charts-middle">
      <div class="text-center">
        <div class="btn-group">
          <label class="btn btn-default" ng-model="bodyRange" ng-click="reloadBodyData(null, 'day')" btn-radio="'day'">{{'day' | translate}}</label>
          <label class="btn btn-default" ng-model="bodyRange" ng-click="reloadBodyData(null, 'week')" btn-radio="'week'">{{'week' | translate}}</label>
          <label class="btn btn-default" ng-model="bodyRange" ng-click="reloadBodyData(null, 'month')" btn-radio="'month'">{{'month' | translate}}</label>
        </div>
      </div>
      <angular-chart options="bodyChartOptions"></angular-chart>
    </div>
  </div>
</div>