.pie {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 220px;
    text-align: center;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    .pie-content {
        display: table-cell;
        height: 220px;
        width: 220px;
        vertical-align: middle;
        text-align: center;
        z-index: 2;
    }

    .percent {
        font-size: 2em;
        font-weight: bold;

        &.after {
            font-size: 1.8em;
        }
    }

    .base {
        font-size: .8em;
    }
}