.pie {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 220px;
    text-align: center;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.percent {
    display: inline-block;
    line-height: 220px;
    z-index: 2;

    &:after {
        margin-left: 0.1em;
        font-size: .8em;
    }
}

.percent-time:after {
    content: '분';
}

.percent-distance:after {
    content: 'km';
}

.percent-cal:after {
    content: '칼로리';
}