
<div class="conter-wrapper home-container" ng-controller="ChartCtrl">
	<div class="row home-row text-center">
		<div class="col-md-4">
			<div class="pie-container" ng-click="reloadActivityData('time')" ng-class="selectedPieIndex === 0 ? 'selected' : ''">
				<div easypiechart options="pieOptions" percent="pie.time / pie.timeBase * 100" class="pie">
          <div class="pie-content">
            <div>
              <span class="percent" ng-bind="pie.time"></span>
              <span class="percent after">{{'min' | translate}}</span>
            </div>
            <div>
              <span class="base before">{{'average' | translate}}</span>
              <span class="base" ng-bind="pie.timeBase"></span>
              <span class="base after">{{'min' | translate}}</span>
            </div>
          </div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pie-container" ng-click="reloadActivityData('distance')" ng-class="selectedPieIndex === 1 ? 'selected' : ''">
				<div easypiechart options="pieOptions" percent="pie.distance / pie.distanceBase * 100" class="pie">
          <div class="pie-content">
            <div>
              <span class="percent" ng-bind="pie.distance"></span>
              <span class="percent after">{{'km' | translate}}</span>
            </div>
            <div>
              <span class="base before">{{'average' | translate}}</span>
              <span class="base" ng-bind="pie.distanceBase"></span>
              <span class="base after">{{'km' | translate}}</span>
            </div>
          </div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pie-container" ng-click="reloadActivityData('calory')" ng-class="selectedPieIndex === 2 ? 'selected' : ''">
				<div easypiechart options="pieOptions" percent="pie.calory / pie.caloryBase * 100" class="pie">
          <div class="pie-content">
            <div>
              <span class="percent" ng-bind="pie.calory"></span>
              <span class="percent after">{{'calories' | translate}}</span>
            </div>
            <div>
              <span class="base before">{{'average' | translate}}</span>
              <span class="base" ng-bind="pie.caloryBase"></span>
              <span class="base after">{{'calories' | translate}}</span>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row home-row">
    <div class="col-md-4">
      <div class="home-charts-right" ng-controller="AddActivityCtrl">
        <h2>{{ 'add_activity' | translate }}</h2>
        <div class="custom-selector">
          <custom-select
            ng-model="selectedActivities.activity"
            ng-options="activity for activity in activities"
            placeholder="{{ 'select_activity' | translate }}">
          </custom-select>
        </div>
        <div class="datetime-picker row">
          <div class="col-xs-6 date-picker">
            <input type="text"
                   class="form-control"
                   datepicker-popup="yyyy-MM-dd"
                   ng-model="dt"
                   is-open="opened"
                   datepicker-options="dateOptions"
                   ng-required="true"
                   close-text="{{'close' | translate}}"
                   current-text="{{'current' | translate}}"
                   clear-text="{{'clear' | translate}}"
                   ng-click="open($event)" />
          </div>
          <div class="col-xs-6 time-picker">
            <timepicker ng-model="time"
                        ng-change="changed()"
                        show-meridian="false"
                        minute-step="5"></timepicker>
          </div>
        </div>
        <div class="activity-data row">
          <div class="col-sm-6">
            <input type="number" class="col-md-4">{{ 'min' | translate }}
          </div>
          <div class="col-sm-6">
            <input type="number" class="col-md-4">{{ 'km' | translate }}
          </div>
          <div class="col-sm-6">
            <input type="number" class="col-md-4">{{ 'calories' | translate }}
          </div>
        </div>
        <button class="btn btn-block btn-default">{{'add' | translate}}</button>
      </div>
    </div>
		<div class="col-md-8">
      <div class="home-charts-middle">
        <div class="text-center">
          <div class="btn-group">
            <label class="btn btn-default" ng-model="activityRange" ng-click="reloadActivityData(null, 'day')" btn-radio="'day'">{{'day' | translate}}</label>
            <label class="btn btn-default" ng-model="activityRange" ng-click="reloadActivityData(null, 'week')" btn-radio="'week'">{{'week' | translate}}</label>
            <label class="btn btn-default" ng-model="activityRange" ng-click="reloadActivityData(null, 'month')" btn-radio="'month'">{{'month' | translate}}</label>
          </div>
        </div>
        <angular-chart options="activityChartOptions"></angular-chart>
      </div>
		</div>
	</div>
</div>
