
<div class="conter-wrapper home-container" ng-controller="ChartCtrl">
	<div class="row home-row text-center">
		<div class="col-md-4">
			<div class="pie-container">
				<div easypiechart options="pieOptions" percent="pie.time / pie.timeBase * 100" class="pie">
          <div class="pie-content">
            <div>
              <span class="percent" ng-bind="pie.time"></span>
              <span class="percent after">{{'min' | translate}}</span>
            </div>
            <div>
              <span class="base before">{{'average' | translate}}</span>
              <span class="base" ng-bind="pie.timeBase"></span>
              <span class="base after">{{'min' | translate}}</span>
            </div>
          </div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pie-container">
				<div easypiechart options="pieOptions" percent="pie.distance / pie.distanceBase * 100" class="pie">
          <div class="pie-content">
            <div>
              <span class="percent" ng-bind="pie.distance"></span>
              <span class="percent after">{{'km' | translate}}</span>
            </div>
            <div>
              <span class="base before">{{'average' | translate}}</span>
              <span class="base" ng-bind="pie.distanceBase"></span>
              <span class="base after">{{'km' | translate}}</span>
            </div>
          </div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pie-container">
				<div easypiechart options="pieOptions" percent="pie.calory / pie.caloryBase * 100" class="pie">
          <div class="pie-content">
            <div>
              <span class="percent" ng-bind="pie.calory"></span>
              <span class="percent after">{{'calories' | translate}}</span>
            </div>
            <div>
              <span class="base before">{{'average' | translate}}</span>
              <span class="base" ng-bind="pie.caloryBase"></span>
              <span class="base after">{{'calories' | translate}}</span>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row home-row">
    <div class="col-md-4">
      <div class="home-charts-right" ng-controller="AddActivityCtrl">
        <h2>{{ 'add_activity' | translate }}</h2>
        <div class="custom-selector">
          <custom-select
            ng-model="selectedActivities.activity"
            ng-options="activity for activity in activities"
            placeholder="{{ 'select_activity' | translate }}">
          </custom-select>
        </div>
        <div class="datetime-picker row">
          <div class="col-xs-6 date-picker">
            <input type="date"
                   class="form-control"
                   datepicker-popup="yyyy-MM-dd"
                   ng-model="dt"
                   is-open="opened"
                   datepicker-options="dateOptions"
                   ng-required="true"
                   close-text="{{'close' | translate}}"
                   current-text="{{'current' | translate}}"
                   clear-text="{{'clear' | translate}}"
                   ng-click="open($event)" />
          </div>
          <div class="col-xs-6 time-picker">
            <timepicker ng-model="time"
                        ng-change="changed()"
                        minute-step="5"></timepicker>
          </div>
        </div>
        <div class="activity-data row">
          <div class="col-sm-6">
            <input type="text" class="col-md-4">{{ 'min' | translate }}
          </div>
          <div class="col-sm-6">
            <input type="text" class="col-md-4">{{ 'km' | translate }}
          </div>
          <div class="col-sm-6">
            <input type="text" class="col-md-4">{{ 'calories' | translate }}
          </div>
        </div>
        <button class="btn btn-block btn-default">{{'add' | translate}}</button>
      </div>
    </div>
		<div class="col-md-8">
      <!--<div class="btn-group" role="group">-->
        <!--<button type="button" class="btn btn-default">{{'day' | translate}}</button>-->
        <!--<button type="button" class="btn btn-default">{{'month' | translate}}</button>-->
      <!--</div>-->
      <!-- TODO axis label and tick-format cannot be dynamic. So I decide to remove range button and y label -->
			<div class="home-charts-middle">
        <c3chart bindto-id="activity-chart"
                 chart-data="activityChart.data"
                 chart-columns="activityChart.columns"
                 chart-x="activityChart.x">
          <chart-axis>
            <chart-axis-x axis-id="x" axis-type="timeseries">
              <chart-axis-x-tick tick-format="%m-%d"/>
            </chart-axis-x>
            <!--<chart-axis-y axis-id="y" axis-label="Higher numbers"/>-->
          </chart-axis>
          <chart-group group-values="activity-0,activity-1,activity-2,activity-3,activity-4"/>
          <chart-tooltip show-tooltip="true" value-format-function="activityChart.format.value"/>
          <chart-grid show-x="false" show-y="true">
            <chart-grid-optional axis-id="y" grid-value="5" grid-text="activityChart.y.grid.text"/>
          </chart-grid>
        </c3chart>
			</div>
		</div>
	</div>
</div>
