
<div class="conter-wrapper home-container" ng-controller="ChartCtrl">
	<div class="row home-row text-center">
		<div class="col-md-4">
			<div class="pie-container">
				<div easypiechart options="pieDistance" percent="50" class="pie">
					<span class="percent percent-time">{{percent}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pie-container">
				<div easypiechart options="pieDistance" percent="4" class="pie">
					<span class="percent percent-distance">{{percent}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pie-container">
				<div easypiechart options="pieDistance" percent="1000" class="pie">
					<span class="percent percent-cal">{{percent}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row home-row">
		<div class="col-md-8">
			<div class="home-charts-middle">
				<div id="line-chart" ng-controller="ChartCtrl">
					<canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" click="line.onClick" series="line.series" colours="line.colours" options="line.options"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="home-charts-right">

			</div>
		</div>
	</div>
</div>
